---
layout: base
---
<main>
  <h2>About Me</h2>
  <p>I am a senior undergraduate student of Huazhong University of Sci&Tech, majoring in Electronic and Information Enginerring. Currently I am a research intern advised by Dr. <a href="https://sites.google.com/site/chengyu05/">Yu Cheng</a>.</p>

  <h2>Awards</h2>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ul>

  <h2>Contact Me</h2>
  <p>Email: ranery [AT] hust [DOT] edu [DOT] cn</p>

  <p><a href="https://github.com/ranery">Github</a></p>

</main>